<main class="w-full h-full flex items-center justify-center">
  <div class="container bg-bgSecondary max-w-[600px] px-5 py-7 rounded-md">
    <h1 class="text-3xl text-text font-bold mb-3">Sign in</h1>
    <p class="text-gray mb-7">Enter your email and password to sign in!</p>
    <form
      class="flex flex-col gap-y-4"
      [formGroup]="loginForm"
      (submit)="onSubmit()"
    >
      @if (apiErrorMessage()) {
        <mat-error class="text-center" data-test-id="api-error-message">{{
          apiErrorMessage()
        }}</mat-error>
      }
      <mat-form-field data-test-id="email-input">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          required
          placeholder="email@example.com"
          formControlName="email"
          (blur)="updateErrorMessages()"
        />
        @if (loginForm.controls.email.invalid) {
          <mat-error data-test-id="email-input-error">{{
            errorMessages().email
          }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field data-test-id="password-input">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          required
          placeholder="*****"
          formControlName="password"
          data-test-id="password-input-field"
          [type]="hiddenPassword() ? 'password' : 'text'"
          (blur)="updateErrorMessages()"
        />
        <button
          matSuffix
          mat-icon-button
          type="button"
          data-test-id="toggle-visibility"
          (click)="toggleVisibility()"
        >
          <mat-icon>{{
            hiddenPassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (loginForm.controls.password.invalid) {
          <mat-error data-test-id="password-input-error">{{
            errorMessages().password
          }}</mat-error>
        }
      </mat-form-field>
      <button
        mat-flat-button
        type="submit"
        data-test-id="submit-button"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>
    </form>
  </div>
  <app-loading [loading]="isLoading()"></app-loading>
</main>
